<body>
  <h1>受付管理ログイン</h1>
  <%= form_for(:session, url: login_path) do |f| %>
    <ul>
      <li>
        <%= f.text_field :name, placeholder: "部屋の名前を入力してください" %>
      </li>
      <li>
        <%= f.password_field :password, placeholder: 'パスワードを入力してください' %>
      </li>
      <li>
        <%= f.submit 'ログイン' %>
      <li>
    </ul>
  <% end %>
</body>
