<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HEY-TAISHO</title>
    <link rel="stylesheet" href="app\assets\stylesheets\stylesheet.css">
  </head>
  <body>
    <h1>いらっしゃいませ。</h1>
    <h2>御用の方は下記を埋めまして、123番にお電話ください。</h2>
    <%= form_with model: @reception do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "名前を入力してください" %>
      </div>
      <p>
        <%= f.select :purpose,
        (
          [
            ['---理由を選択してください---', ''],
            ["面接のため", '面接'],
            ["面談のため", '面談'],
            ["打ち合わせのため", '打ち合わせ'],
            ["その他", 'その他']
          ]
        )
        %>
      </p>
      <%= f.submit '送信する' %>
    <% end %>
  </body>
</html>
