@charset "UTF-8";
body {
  background-image: url('/assets/bg.png');
  background-size: 100% auto;
  margin: 0px;
}
h1 {
  color: #0c4da2;
  font-size: 80px;
  text-align: center;
}
h2 {
  color: #0c4da2;
  font-size: 40px;
  text-align: center;
}
form {
  margin-top: 70px;
  text-align: center;
}
input {
  font-size: 30px;
  width: 700px;
  height: 50px;
  text-align: center;
}
select {
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
  width: 700px;
}
img {
  margin-top: 70px;
  position: absolute; right: 20%;
}
