@charset "UTF-8";
/* receptions/new 受付登録画面, sessions/new ログイン画面 */
/* 背景画像のパスはpublic/imagesに格納　*/
body {
  background-image: url('/images/bg.png');
  background-size: 100% auto;
  margin: 0px;
}
h1 {
  color: #0c4da2;
  font-size: 80px;
  text-align: center;
  margin-bottom: 2%;
}
h2 {
  color: #0c4da2;
  font-size: 30px;
  text-align: center;
}
form {
  width: 60%;
  margin: auto;
  padding-top: 1%;
}
ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  text-align: center;
}
label {
  font-size: 25px;
}
input[type=text], select {
  text-align: center;
  width: 55%;
  font-size: 20px;
  border: 1px solid #CCC;
  border-radius: 1rem;
  margin-bottom: 20px;
  padding: 1%;
}
input[type=submit] {
  text-align: center;
  width: 55%;
  font-size: 20px;
  border: 1px solid #CCC;
  border-radius: 1rem;
  margin-bottom: 20px;
  padding: 1%;
}
input[type=password] {
  text-align: center;
  width: 55%;
  font-size: 20px;
  border: 1px solid #CCC;
  border-radius: 1rem;
  margin-bottom: 30px;
  padding: 1%;
}

img {
  padding: 2%;
  position: absolute; right: 20%;
}

/* receptions/index 受付一覧画面　*/
header {
  height: 10%;
  padding: 3%;
  text-align: center;
  font-size: 30px;
}
header a {
  position: absolute; right: 18%;
  font-size: 15px;
  text-decoration: none;
}
table {
  width: 60%;
  margin: auto;
}
th {
  border-bottom: 1px solid black;
}
td {
  text-align: center;
  padding: 6px 0;
  width: 33%;
}
.pagination {
  padding: 10px;
  text-align: center;
}
footer {
  height: 70px;
}