@charset "UTF-8";
body {
  background-image:
}
h1 {
  color: #0c4da2;
  font-size: 80px;
  text-align: center;
}
h2 {
  color: #0c4da2;
  font-size: 40px;
  text-align: center;
}
form {
  margin-top: 70px;
  text-align: center;
}
select {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
}
