@charset "UTF-8";
/* receptions/new 受付登録画面, sessions/new ログイン画面 */
/* 背景画像のパスはpublic/imagesに格納　*/
body {
  background-image: url('/images/bg.png');
  background-size: 100% auto;
  margin: 0px;
}
h1 {
  color: #0c4da2;
  font-size: 80px;
  text-align: center;
}
h2 {
  color: #0c4da2;
  font-size: 40px;
  text-align: center;
}
form {
  text-align: center;
}
div {
  padding-bottom: 20px;
}
select, input {
  text-align: center;
  font-size: 30px;
  width: 50%;
  height: 30%;
  padding: 1%;
}
img {
  padding: 2%;
  position: absolute; right: 20%;
}

/* receptions/index 受付一覧画面　*/
header {
  height: 10%;
  padding: 2%;
  text-align: center;
  font-size: 30px;
}
header a {
  position: absolute; right: 15%;
  font-size: 15px;
  text-decoration: none;
}
.container {
  font-size: 20px;
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex th {
  color: white;
  background: linear-gradient(#829ebc,#225588);
}
.flex td {
  text-align: center;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  padding: 5px 0;
}
.pagination {
  padding: 10px;
}
footer {
  height: 70px;
}